.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: whitesmoke;
    overflow: auto;
    
    ul {
        display: flex;
        justify-content: center;
        
        li {
            float: left;
            width: 25%;
            
            a {
                font-weight: bold;
                display: block;
                color: black;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
                
                &:hover {
                    background-color: #ddd;
                    color: black;
                }

                .nav-link-content {
                    display: inline-flex;
                    align-items: center;
                }
                
                svg {
                    margin-right: 8px; // Add some space between the icon and the text
                }
            }
        }
    }

    .active {
        background-color: #4CAF50;
        color: white;
    }
}
